<h1>Confirmar pedido</h1>

<form action="/dashboard/confirm/request_car"
    method="POST">

<h3><%= product.brand %></h3>
<h3><%= product.name %></h3>

<div>
    <button type="submit"
        class="btn btn-primary btn-block">Alquilar carro</button>
</div>
