<h1>Dashboard!</h1>
<p> Welcome <%= user.name %></p>

<% product.standart.forEach(function(comment){ %>
    <p><strong><%= comment.name %></strong></p>
    <p><%= comment.brand %></p>
    <% }) %>

<a href="/users/logout">Logout</a>
